page-finalise {
.logo {
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  height: 70px;
  text-align: center;
  img {
     height: 100%; 
     max-width: 90%;
   }
}


.req-status-text {

  p {
   font-size: 17px;
  }
}}
