page-concours-options {
 .concours-title{
        background-color: color($colors,primary-clear);
        margin-top:0px;
        padding: 5px 21px;
        height: 17%;
       color:#fff;
        h2{
         font-weight: normal;
        }
    }

}
