page-contact {
  .tangoAnimate {
    &.round {
      width: 52px;
      height: 52px;
      padding: 0;
      color: color($colors, danger);
    }
    &.expand {
      position: absolute;
      transform: scale(50);
      transition: transform 1s;
    }
  }
}
